
footer {
  min-height: 180px;
  width: 100vw;
  background-color: $blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 
  /*AShergill 20-June-2020: added code to make sure the footer is spread out across whole
  screen at all times... even on a smal screen */
  .container{
    width: 100%;
  }

  /*AShergill 24-June-2020: only display the logo on larger screens */
  .logo-wrapper {
    display: none;
  }

  .social-media {
    a {
      font-size: 21px;
    }
  }


  ul {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  li {
    font-size: 14px;
    padding: 5px 0;
    span {
      display: block;
      opacity: 0.5;
      margin-right: 10px;
    }
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }

}

footer .copyright {
  margin-bottom: 40px;
  text-align: center;
  font-size: 12px;
}

footer .center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 20px;
  a:first-child {
    margin-bottom: 5px;
  }
  a {
    text-decoration: underline;
  }
}

/*AShergill 24-June-2020: only display the logo on larger screens */
@media (min-width: 700px){
  footer .logo-wrapper {
    display: flex;
    justify-content: flex-end;

    img {
      width: 150px;
    }
  }
}