.header-strong {
  text-align: center;
  font-weight: 600;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
  color: white;
}

.centered-small {
  color: white;
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  font-size: 23px;
  font-weight: 500;
}