.team-card {
  text-decoration: none;
  display: block;
  color: $gray;
  text-align: center;
  img {
    filter: grayscale(100%);
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(1,1,1,0.2);
    width: 100%;
    object-fit: cover;
    transition: filter 200ms ease;
    &:hover {
      filter: grayscale(0%);
    }
  }
  h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  p {
    opacity: 0.5;
  }
  &:hover {
    text-decoration: none;
  }
}


.team-bio-wrapper {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 100px;
}

.team-avatar {
  box-shadow: 0px 0px 5px rgba(1,1,1,0.2);
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin-right: 50px;
  border-radius: 50%;
}

.team-bio-card {
  display: flex;
}

.team-header {
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 0px;
}

.team-sub-header {
  font-weight: 400;
  opacity: 0.5;
  margin-bottom: 20px;
}

.team-bio-body p {
  line-height: 1.7;
}

.back-link {
  margin: 20px 0;
  display: block;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .team-wrapper {
    padding-bottom: 100px;
  }
  .team-bio-card {
    flex-direction: column;
  }
  .team-card p {
    font-size: 12px;
  }
  .team-center {
    margin-bottom: 40px;
    text-align: left;
  }
}


@media (min-width: 768px) {
  .team-center {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .team-card p {
    font-size: 14px;
  }
}