@media (max-width: 425px) {
  #youtube-video {
    width: 100%;
    height: 200px;
  }
  .video-wrapper {
    padding-bottom: 120px;
  }
}


@media (min-width: 426px) and (max-width: 768px) {
  #youtube-video {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 768px) {
 #youtube-video {
  width: 100%;
  height: 500px;
}
}

#youtube-video {
  margin-bottom: 30px;
}

#video-section .container {
  width: 100%;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}