.side-info-container.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 20px;
  grid-gap: 20px;
  .navbar-custom-item-extra {
    height: 50px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  ul {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
}

.side-info-container {
  float: left;
  padding-right: 30px;
}

.workshop-illustration {
  margin: 0 auto;
  display: block;
  width: 300px;
}

.side-info-container ul {
  list-style: none;
  padding: 0;
  border: 1px solid rgba(1, 1, 1, 0.1);
  position: relative;
  padding-top: 10px;
  .bootcamp-banner {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background-color: $red;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
  }
}

.side-info-container li {
  padding: 10px 20px;
}

.side-info-container .navbar-custom-item-extra {
  display: flex;
  justify-content: space-between;
}

.main-info-container h1 {
  margin-top: 0;
  font-size: 2.2rem;
  opacity: 0.5;
}

.main-info-container h3 {
  opacity: 0.5;
}

.main-info-container h2 {
  font-size: 20px;
  font-weight: bold;
}

.workshop-price {
  background-color: $blue;
  color: white;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #ffffff;
  color: $gray;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: #ffffff solid 1px;
  border-top: $light-gray solid 4px;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activeAccordion,
.accordion:hover {
  border-top: $blue solid 4px;
  color: $blue;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  margin-top: 7px;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.activeAccordion:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

@media (min-width: 500px) {
  /*AShergill 24-June-2020: illustration width set to 400px for bigger screens */
  .workshop-illustration {
    width: 400px;
  }
  .main-info-container h1 {
    font-size: 4rem;
  }
}

@media (min-width: 900px) {
  .side-info-container {
    width: 25%;
    position: sticky;
    top: 20px;
  }
}

@media (max-width: 900px) {
  .side-info-container {
    width: 100%;
    padding-left: 15px;
  }
}
