<div class="row">
    <div class="col-xs-12 col-lg-4 visible-xs visible-md visible-sm">
        <%= image_tag 'conversationplayground-header.png', width: 200 %>
    </div>
    <div class="col-xs-12 col-lg-7">
        <h3>
            English + Coding Bootcamp
        </h3>

        <p>
            Bij The Conversation Playground geloven we in <strong>betekenisvol leren</strong>. 
            Bij deze cursus gebruiken we hardware die geprogrammeerd kan worden en in de echte wereld kan worden gebruikt. 
            Daarom hebben we een cursus ontwikkeld waarin kinderen vaardigheden uit de 21e eeuw kunnen opbouwen: <strong> creativiteit, 
            technologie, kritisch denken</strong> en een vergeten 21e-eeuwse vaardigheid: <strong>Engels.</strong>
        </p>
    </div>
    <div class="col-xs-12 col-lg-4 hidden-xs hidden-md hidden-sm">
        <%= image_tag 'conversationplayground-header.png', width: 200 %>
    </div>
</div>


<h3>
    Deze cursus is voor iedereen die:
</h3>

<ul>
    <li>
        Engelse lessen op school saai vindt
    </li>
    <li>
        Wilt samenwerken met makers in andere landen via YouTube of Discord
    </li>
    <li>
        In de toekomst samen wilt werken aan internationale wetenschapsprojecten
    </li>
    <li>
        Creatief wilt zijn met technologie
    </li>
    <li>
        Er achter wilt komen hoe je écht codeert
    </li>
    <li>
        Uitvindingen wilt ontwikkelen om de wereld een betere plek te maken
    </li>
</ul>


<p>
    Deze cursus is gebaseerd op de Microsoft Makecode Introduction to Computer Science cursus. 
    En dat is niet alles! Het is volledig in het Engels, zo bouwt uw kind het zelfvertrouwen op in het spreken en 
    schrijven in het Engels. EN dat is nog steeds niet alles !!
</p>

<p>
    Tijdens deze cursus gebruiken we een BBC Micro: bit (zie <a href="http://microbit.org">http://microbit.org</a> ) om:
</p>

<ul>
    <li> 
        te leren over de <strong>Maker-Movement</strong>
    </li>
    <li> 
        te leren over <strong>Design Thinking</strong> voor het maken van producten en toepassingen
        <ul>
            <li>
                een <strong>Brainstorm</strong> methode te leren
            </li>
        </ul>
    </li>
    <li> 
        te leren programmeren met <strong>JavaScript</strong>
        <ul>
            <li>
                Variabelen creëren
            </li>
            <li>
                Conditional statements
            </li>
            <li>
                Loops
            </li>
            <li>
                Functies maken
            </li>
            <li>
                Arrays maken
            </li>
        </ul>
    </li>

    <li> 
        gebruik te maken van de verschillende sensoren op de Micro: bit
        <ul>
    <li> 
        temperatuursensor
    </li>
    <li> 
        accelerometer
    </li>
    <li> 
        lichtsensor
    </li>
        </ul>
    </li>
    <li> 
        elke dag nieuwe projecten uitwerken:
        <ul>
            <li>
                een Avoid the Darkside machine
            </li>
            <li>
                een stappenteller
            </li>
            <li>
                een Rock Paper Scissors-spel
            </li>
            <li>
                een bordspel
            </li>
            <li>
                een Simon Says selector
            </li>
            <li>
                een raket aftelklok
            </li>
            <li>
                EN alle creaties die de kinderen voor zichzelf willen maken
            </li>
        </ul>
    </li>

</ul>

<p>                            
    <strong>Vereisten:</strong> kinderen uit groep 8 of klas 1 en 2. Uw kind moet minimaal een gemiddelde (B-niveau) kennis van de Engelse taal hebben.
</p>
<p>
    <strong>Meenemen:</strong> Laptop
</p>
<p>
    <strong>Over mij:</strong> ik heb meer dan 20 jaar ervaring in IT. Ik werkte als ontwikkelaar en consultant van Lissabon tot Sydney, van Estland tot Zuid-Afrika en vele andere landen. Bij alle projecten werkten we in het Engels.
</p> 
