<div class="row">
    <div class="col-xs-12 col-lg-4 visible-xs visible-md visible-sm">
        <%= image_tag workshop["image"], width: 200 %>
    </div>
    <div class="col-xs-12 col-lg-7">
        <h3>
            Creating. Coding. Cooperating.
        </h3>
        <p>
            <strong>
                Allemaal in het Engels.
            </strong>
        </p>
        <p>
            Bij The Conversation Playground geloven we in <strong>betekenisvol leren</strong>. Tijdens deze cursus maken we gebruik
            van hardware die geprogrammeerd kan worden en in de wereld gelijk gebruikt. Daarom hebben we een cursus 
            ontwikkeld waarin kinderen 21e eeuw skills kunnen opbouwen: creativiteit, technologie, kritisch denken 
            en een vergeten 21e-eeuwse skill: Engels.
        </p>
        <p>
            Geef uw kind de mogelijkheid om Engels en coding te leren terwijl hij/zij tijdens de vakantie in isolatie zit.
        </p>
    </div>
    <div class="col-xs-12 col-lg-4 hidden-xs hidden-md hidden-sm">
        <%= image_tag workshop["image"], width: 200 %>
    </div>
</div>

<p>
    <strong>
        Deze cursus is voor iedereen die:
    </strong>
</p>
<ul>
    <li>
        Meer uitdaging met de Engelse taal wil
    </li>
    <li>
        Wil samenwerken met makers in andere landen via YouTube of Discord
    </li>
    <li>
        In de toekomst samen wil werken aan internationale wetenschapsprojecten
    </li>
    <li>
        Creatief wil zijn met technologie
    </li>
    <li>
        Er achter wil komen hoe je écht codeert
    </li>
    <li>
        Uitvindingen wilt ontwikkelen om de wereld beter te maken
    </li>
</ul>


<p>
    <strong>
        Wij zijn Online!
    </strong>
</p>
<p>
    Wij zijn enthousiast over de nieuwe mogelijkheden die online workshops bieden.   
</p>
<p>
    Een volledige cursus bestaat uit <strong>8 workshops</strong> van elk <strong>1.5 uur</strong>. We hebben per workshop een 
    minimum van 6 kinderen nodig om voldoende interactie te stimuleren. Als maximum geldt 
    een aantal van <strong>10 kinderen</strong>: dit om ieder kind voldoende persoonlijke aandacht te kunnen geven. 
    De totale kosten per kind bedragen <strong>€285</strong> (inclusief aankoop micro:bit).
</p>
<p>
    Het exacte schema wordt vastgesteld in samenwerking met de betreffende school.
</p>

<p>
    <strong>
        Deze cursus is geen gewone cursus
    </strong>
</p>
<p>
    De cursus is gebaseerd op de Microsoft Makecode Introduction to Computer Science cursus en is gestemd op 
    kinderen tussen 11 en 14 jaar. En dat is niet alles! Het is volledig in het Engels, met een native docent 
    Engels. Zo bouwt uw kind het zelfvertrouwen op in het spreken en schrijven in het Engels. 
</p>
<p>
    EN dat is nog steeds niet alles !!
</p>

<p>
    Tijdens deze cursus gebruiken we een BBC Micro: bit (zie <a href="http://microbit.org">http://microbit.org</a> ) om:
</p>

<ul>
    <li> 
        te leren over de <strong>Maker-Movement</strong>
    </li>
    <li> 
        te leren over <strong>Design Thinking</strong> voor het maken van producten en toepassingen
        <ul>
            <li>
                een <strong>Brainstorm</strong> methode te leren
            </li>
        </ul>
    </li>
    <li> 
        te leren programmeren met <strong>JavaScript</strong>
        <ul>
            <li>
                Variabelen creëren
            </li>
            <li>
                Conditional statements
            </li>
            <li>
                Loops
            </li>
            <li>
                Functies maken
            </li>
            <li>
                Arrays maken
            </li>
        </ul>
    </li>

    <li> 
        gebruik te maken van de verschillende sensoren op de Micro: bit
        <ul>
    <li> 
        temperatuursensor
    </li>
    <li> 
        accelerometer
    </li>
    <li> 
        lichtsensor
    </li>
        </ul>
    </li>
    <li> 
        elke dag nieuwe projecten uitwerken:
        <ul>
            <li>
                een Avoid the Darkside machine
            </li>
            <li>
                een stappenteller
            </li>
            <li>
                een Rock Paper Scissors-spel
            </li>
            <li>
                een bordspel
            </li>
            <li>
                een Simon Says selector
            </li>
            <li>
                een raket aftelklok
            </li>
            <li>
                EN alle creaties die de kinderen voor zichzelf willen maken
            </li>
        </ul>
    </li>

</ul>

<p>    
    <strong>
        Vereisten: 
    </strong>            
    Uw kind moet minimaal een gemiddelde kennis van de Engelse taal hebben. 
    <strong>
        Deze cursus is niet geschikt voor kinderen die geen Engels verstaan. 
    </strong>
</p>

<h3>
    Nog niet beschikbaar op uw school?
</h3>

<p>
    Bent u een ouder of docent en heeft u interesse in de workshops? 
    Neem dan contact op via de onderstaande knop.
</p>
<p class="visible-lg">
    <%= link_to "Ik ben geïnteresseerd", "/#contact-section", class: "navbar-custom-item-extra" %>
</p>