<div class="row">
    <div class="col-xs-12 col-lg-4 visible-xs visible-md visible-sm">
        <%= image_tag workshop["image"], width: 200 %>
    </div>
    <div class="col-xs-12 col-lg-7">
        <p>
            Conversing. Interacting. Playing.
        </p>
        <p>
            Allemaal in het Engels.
        </p>
        <p>
            Geef uw kind de mogelijkheid om Engels te leren terwijl hij/zij tijdens de vakantie in isolatie zit.
        </p>
    </div>
    <div class="col-xs-12 col-lg-4 hidden-xs hidden-md hidden-sm">
        <%= image_tag workshop["image"], width: 200 %>
    </div>
</div>

<p>
    We werken samen met scholen, in de regio Amsterdam, 
    waar we de workshops aanbieden vanaf groep 7 op 
    basisscholen tot voortgezet onderwijs instellingen. 
    Een volledige cursus bestaat uit <strong>4 workshops</strong> van elk 
    <strong>2 uur.</strong> We hebben per workshop een minimum van 8 kinderen 
    nodig om voldoende interactie te stimuleren. Als 
    maximum geldt een aantal van <strong>12 kinderen</strong>: dit om ieder 
    kind voldoende persoonlijke aandacht te kunnen geven. 
    De totale kosten per kind bedragen <strong>€100.</strong>
</p>
<p>
    Het exacte schema wordt vastgesteld in samenwerking met de betreffende school.
</p>
<p>
    <strong>Vereisten:</strong> Ons uitgangspunt is dat de kinderen al basiskennis van 
    Engels bezitten en willen leren vloeiender te spreken. We bouwen voort 
    op wat de kinderen op school en van social media, YouTube, gaming en 
    televisie al hebben geleerd. <strong>Deze cursus is niet geschikt voor kinderen 
    die geen Engels verstaan.</strong>
</p>

<h3>
    Nog niet beschikbaar op uw school?
</h3>

<p>
    Bent u een ouder of docent en heeft u interesse in de workshops? 
    Neem dan contact op via de onderstaande knop.
</p>
<p class="visible-lg">
    <%= link_to "Ik ben geïnteresseerd", "/#contact-section", class: "navbar-custom-item-extra" %>
</p>