<div class="row">
    <div class="col-xs-12 col-lg-7">
        <h3>
            Learning English through games
        </h3>

        <p>
             Bij The Conversation Playground geloven we in “betekenisvol leren”. 
             Bij deze cursus gebruiken we conversation spelletjes als middel voor 
             het opbouwen van de spreekvaardigheid van kinderen.  Afterall, welke 
             kind houdt er niet van om spelletjes te spelen? Daarom hebben we een 
             cursus ontwikkeld waar onze Engelse docenten zijn uitgerust met een 
             breed scala aan interactieve spelen waarmee de kinderen helemaal op 
             kunnen gaan in de Engelse taal.
        </p>
    </div>
    <div class="col-xs-12 col-lg-4">
        <%= image_tag 'conversationplayground-header.png', width: 200 %>
    </div>
</div>

<p>
    We werken samen met scholen, in de regio Amsterdam, 
    waar we de workshops aanbieden vanaf groep 7 op 
    basisscholen tot voortgezet onderwijs instellingen. 
    Een volledige cursus bestaat uit 8 workshops van elk 
    1 uur. We hebben per workshop een minimum van 8 kinderen 
    nodig om voldoende interactie te stimuleren. Als 
    maximum geldt een aantal van 12 kinderen: dit om ieder 
    kind voldoende persoonlijke aandacht te kunnen geven. 
    De totale kosten per kind bedragen €100.
</p>
<p>
    Het exacte schema wordt vastgesteld in samenwerking met de betreffende school.
</p>
<p>
    Vereisten: Ons uitgangspunt is dat de kinderen al basiskennis van 
    Engels bezitten en willen leren vloeiender te spreken. We bouwen voort 
    op wat de kinderen op school en van social media, YouTube, gaming en 
    televisie al hebben geleerd. Deze cursus is niet geschikt voor kinderen 
    die geen Engels verstaan.
</p>

<h3>
    Nog niet beschikbaar op uw school?
</h3>

<p>
    Bent u een ouder of docent en heeft u interesse in de workshops? 
    Neem dan contact op via de onderstaande knop.
</p>

<%= link_to "Ik ben geïnteresseerd", "/#contact-section", class: "navbar-custom-item-extra" %>
