<!-- AShergill 10-June-2020 - new workshop added -->
<div class="row">
  <div class="col-xs-12 col-lg-4 visible-xs visible-md visible-sm">
    <!-- AShergill 10-June-2020 resized the image -->
    <%= image_tag workshop["image"], width: 400, class: "workshop-illustration" %>
  </div>
  <div class="col-xs-12 col-lg-7">
    <h3>
      Conversing. Interacting. Playing.
    </h3>
    <p>
      <br>
      <strong>
        Voor leraren. Allemaal in het Engels.
      </strong>
    </p>
    <p>
      <br>
      <strong>
        Deze cursus is voor u als u:
      </strong>
    </p>
    <ul>
      <li>
        meer uitdaging met de engelse taal wil
      </li>
      <li>
        zelfvertouwen wil opbouwen
      </li>
      <li>
        leuk en leerzaam lessen wil samenstellen
      </li>
      <li>
        <i>tips n tricks</i> voor u lessen wil
      </li>
    </ul>
    <p>
      <br>
      <strong>
        Deze cursus is geen gewone cursus
      </strong>
    </p>
    <p>
      We gebruiken conversation spelletjes en <i>roleplays</i> als middel 
      voor het uitvoeren van <strong>natuurlijk en spontaan gesprekken</strong>. Zo bouwt u 
      uw spreekvaardigheid op.
    </p>
  </div>
  <div class="col-xs-12 col-lg-4 hidden-xs hidden-md hidden-sm">
    <%= image_tag workshop["image"], width: 400, class: "workshop-illustration" %>
  </div>
</div>
<p>
  Een volledige cursus bestaat uit <strong>8 workshops</strong> van elk 
  <strong>2 uur.</strong> We hebben per workshop een minimum van 8 deelnemers 
  nodig om voldoende interactie te stimuleren. Als 
  maximum geldt een aantal van <strong>16</strong>: dit om iedereen 
  voldoende persoonlijke aandacht te kunnen geven. 
  De totale kosten per persoon bedragen <strong>€200.</strong>
</p>
<p>
  <br>
  <strong>
    Onze leraren
  </strong>
</p>
<p>
  Wij zijn ervaren leraren die of <em>native speakers</em> zijn of het niveau van <em>native speaker</em> hebben.
</p>
<p>
  Wij zijn gericht op leren leuker maken: It is our mission to arouse in people the 
  desire to learn, because when they have this desire, learning comes easily.
</p>
<p>
  <br>
  <strong>Vereisten</strong>
</p>
<p>
  Ons uitgangspunt is dat u al basiskennis van 
  Engels bezitten en wil leren vloeiender te spreken. 
  <!-- AShergill 31-May-2020: inserted a link to a placement test -->
  <br>
  Controleer uw niveau via deze leuk placement test: 
  <br>
  <br>
        <% link_to "https://quizizz.com/join/quiz/5b93c288a90ba400198e9c6a/start?from=soloLinkShare&referrer=5e4fb7ca404b64001b23296e", class: 'navbar-custom-item-extra', target: "_blank" do %>
           <span>
             Niveau bepalen
           </span>
           <i class="fas fa-chevron-right chev-r"></i>
        <% end %>
  <br>
  <br>
  Als uw boven 25% scoort, heeft uw voldoende kennis van Engels om mee te doen.
</p>
<!-- AShergill 31-MNay-2020: small content adjustments -->
<br>
<h3>
  Cursus nog niet beschikbaar op uw school?
</h3>
<p>
  Bent u een docent en heeft u interesse in de workshops? 
  Neem dan contact op via de onderstaande knop.
</p>
<p class="visible-lg">
  <!-- AShergill 31-May-2020: put in a button with a chevron
  <%= link_to "Ik ben geïnteresseerd", "/#contact-section", class: "navbar-custom-item-extra" %> -->
  <% link_to "/#contact-section", class: 'navbar-custom-item-extra', "data-target" => "#contact-section" do %>
     <span>
       Ik ben geïnteresseerd
     </span>
    <i class="fas fa-chevron-right chev-r"></i>
  <% end %>
</p>
