<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <ul class="list-unstyled">
          <li>
            <span>
              Email: 
            </span>
            <%= link_to "info@theconversationplayground.nl", "mailto:info@theconversationplayground.nl" %>
          </li>
          <li>
            <span>
              Telefoon:
            </span>
            <a href="tel:+31627417355">+31 6 2741 7355</a>
          </li>
          <li>
            <span>
              KVK: 
            </span>
            73754471
          </li>
          <li>
            <span>
              Social
            </span>
            <div class="social-media">
              <% link_to "https://www.facebook.com/The-Conversation-Playground-2041197939507914/", target: "blank" do %>
                <i class="fab fa-facebook-square"></i>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <div class="logo-wrapper">
          <%= image_tag 'logo-white.svg' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="center-wrapper">
          <div class="credits">
            <% link_to "https://www.unless.io/", target: "blanc" do %>
            Website by Unless
            <% end %>
            <% link_to "http://www.daphnepro.nl/", target: "blanc" do %>
            Illustrations by Daphne Prochowski
            <% end %>
          </div>
          <p class="copyright">
            Copyright 2019 The Conversation Playground
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>