<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <ul class="list-unstyled">
          <li>
            <span>
              Email: 
            </span>
            <%= link_to "info@theconversationplayground.nl", "mailto:info@theconversationplayground.nl" %>
          </li>
          <li>
            <span>
              KVK: 
            </span>
            73754471
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <div class="logo-wrapper">
          <%= image_tag 'logo-white.svg' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="copyright">
          Copyright 2019 The Conversation Playground
        </p>
      </div>
    </div>
  </div>
</footer>